.carousel-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-slide {
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.slick-center .carousel-slide {
  transform: scale(1.1);
  opacity: 1;
}

.carousel-content {
  text-align: center;
  padding: 20px;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.carousel-description {
  margin-top: 5px;
}