.carousel-slide {
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.slick-center .carousel-slide {
  transform: scale(1.1);
  opacity: 1;
}

.carousel-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.carousel-description {
  margin-top: 5px;
}
