body,
html,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family:'Trebuchet MS';
  font-optical-sizing: auto;
  font-style: normal;
}

.smooth-scroll {
  height: 100vh;
  overflow-y: hidden; 
}

section {
  height: 100vh;
  scroll-snap-align: start;
}


.arrow-button {
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #333;
}

.prev-arrow::before {
  content: '';
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
}

.next-arrow::before {
  content: '';
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
}


.active {
  font-weight: bold;
  color: #fff;
  animation: active-section 1s ease-in-out;
}

@keyframes active-section {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
